.headerBar {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.pageName {
    flex: 1 0 0;
    padding-bottom: 0px;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.layout {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
}

.p {
    font-family: Andale Mono, monospace;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000000;
}

.footer {
    font-family: Andale Mono, monospace;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: #000000;
}